<html dir="rtl" ng-app="haiomet">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/angular-lazy-img/release/angular-lazy-img.js"></script>
    <script src="data.js"></script>
    <script src="app.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="style.css" rel="stylesheet">

    <title>חי או מת?</title>

    <meta property="og:title" content="חי או מת?"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://haiomet.github.io/images/plato.jpg"/>
    <meta property="og:image:secure_url" content="https://haiomet.github.io/images/plato.jpg"/>
    <meta property="og:url" content="https://haiomet.github.io/"/>
    <meta property="og:site_name" content="חי או מת?"/>
    <meta property="og:description" content="החידון שמטריף את המדינה"/>
    <meta property="fb:admins" content="johndoe"/>

    <meta name="twitter:title" content="חי או מת?">
    <meta name="twitter:description" content="החידון שמטריף את המדינה">
    <meta name="twitter:image" content="https://haiomet.github.io/images/plato.jpg">

</head>

<body ng-controller="haiometController">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="title">חי או מת?</div>
        </div>
    </div>

    <div class="row" ng-repeat="person in ALL_DATA track by $index" ng-if="Math.floor($index / SET_SIZE) === round">
        <div class="col-xs-12 col-md-12">
            <div class="person">
                <img ng-class="styleForAnswer($index)" src="images/loading.svg" lazy-img="{{person.img}}"/>
                <div class="name">{{ person.name }}</div>
                <div class="selection">
                    <button ng-click="selectAnswer($index, true)" type="button"
                            class="btn btn-outline-dark btn-lg">{{person.gender.toLowerCase() === 'f' ? 'חיה' :
                        'חי'}}
                    </button>
                    <button ng-click="selectAnswer($index, false)" type="button" class="btn btn-outline-dark btn-lg">
                        {{person.gender.toLowerCase() === 'f' ? 'מתה' : 'מת'}}
                    </button>
                </div>
                <div class="answer" ng-if="person.correct !== -1">
                    <div class="alert alert-success alert-answer" role="alert" ng-if="person.correct === true">נכון
                    </div>
                    <div class="alert alert-danger" role="alert" ng-if="person.correct === false">לא נכון</div>
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="nextRound" ng-if="round !== maxRounds - 1">
            <div class="col-xs-12 col-md-12">
                <button ng-click="nextRound()" type="button"
                        class="btn btn-success btn-lg">עוד 10
                </button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 40%;">
        <div align='center'><a href='http://www.free-website-hit-counter.com'><img
                src='http://www.free-website-hit-counter.com/c.php?d=9&id=103951&s=16' border='0'
                title='free website hit counter'></a><br / >
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="progress progress-score">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                 style="width: {{progress.totalCorrect}}%" aria-valuenow="{{progress.totalCorrect}}"
                 aria-valuemin="0" aria-valuemax="{{progress.total}}">{{progress.totalCorrect}}
            </div>

            <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                 style="width: {{progress.totalWrong}}%"
                 aria-valuenow="{{progress.totalWrong}}"
                 aria-valuemin="0" aria-valuemax="{{progress.total}}">{{progress.totalWrong}}
            </div>

        </div>

    </div>
</footer>


</body>

</html>